@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
	background: linear-gradient(90deg, rgba(54,217,182,1) 0%, rgba(32,152,126,1) 43%, rgba(0,212,255,1) 100%);
	font-family: "Cabin", sans-serif;
}

#sp_id {
	margin-left: 250px;
}

.nav {
	height: 50px;
	margin-bottom: 10px;
	background: rgba(13, 85, 13, 0.4);
}

#but_link {
	color: white;
	text-decoration: none;
}

#nav_but {
	float: right;
	margin: 14px;
	width: 150px;
	border: solid;
	border-color: blue;
	background-color: steelblue;
	color: #ffffff;
	padding-bottom: 0px;
}

.img-card {
	margin: auto;
	max-width: 1200px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.sub-card {
	border: solid;
	background-color: #fff;
	border-color: black;
	margin-bottom: 5px;
	height: 400px;
	margin-right: 20px;
}

.crd-img {
	width: 100%;
	display: grid;
	height: 250px;
	object-fit: cover;
	border-top: solid;
	border-top-color: black;
	border-bottom: solid;
	border-bottom-color: black;
}

#sect-crd {
	height: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -10px;
	max-width: 1100px;
	background-color: #ffffff;
	border: solid;
	border-color: black;
	padding: 10px;
	font-weight: bold;
}

#nav_but_left {
	float: left;
	margin: 14px;
	width: 350px;
	border: solid;
	border-color: rgba(13, 85, 13, 0.4);
	height: 25px;
	margin-top: 10px;
	font-style: italic;
	word-spacing: 5px;
	font-weight: bold;
	background-color: rgba(13, 85, 13, 0.4);
	color: #ffffff;
	padding-bottom: 0px;
}

#nav_lab {
	margin-top: 10px;
}

.nav_fl {
	padding: 10px;
}

#nav_but:hover {
	float: right;
	margin: 14px;
	width: 150px;
	border: solid;
	border-color: blue;
	background-color: lightsteelblue;
	color: #000000;
}

hr {
	width: 100%;
}

.grid-container {
	max-width: 1200px;
	margin: auto;
	display: grid;
}

.grid-item {
	grid-row-start: 1;
  	grid-row-end: 3;
  	background-color: #fff;
  	margin: 5px;
  	border: solid;
  	height: 200px;
}

.grid-item:hover {
	grid-row-start: 1;
  	grid-row-end: 3;
  	background-color: #fff;
  	margin: 5px;
  	border: solid;
  	border-color: red;
  	height: 200px;
}

#headers {
	background-color: lightsteelblue;
	padding-top: 1px;
	padding-left: 2px;
}

.text {
	padding: 3px;
}

.card {
	height: 250px;
	max-width: 1200px;
	margin: auto;
	border: solid;
	border-color: rgba(0, 0, 0, 0);
	background-color: #fff;
	box-shadow: 6px 5px 10px 0px;
}

.card-text {
	max-width: 1100px;
	margin: auto;
}

footer {
	height: 110px;
	width: 100%;
	border: solid;
	background-color: rgba(13, 85, 13, 0.4);
}

.footer-text {
	width: 500px;
	margin: auto;
	padding-top: 15px;
}

.img-footer {
	height: 22px;
	width: 22px;
	float: right;
	padding-right: 20px;
	margin-bottom: 10px;
}

.img-footer-stack {
	height: 26px;
	width: 30px;
	float: right;
	padding-right: 20px;
	margin-bottom: 10px;
	padding-right: 60px;
}

.con-crd {
	height: 200px;
	border: solid;
	background-color: #ffffff;
	max-width: 1060px;
	border-color: black;
	margin-right: 15px;
	padding: none;
	margin: auto;
}

#in_tx {
	margin-top: 20px;
	width: 25%;
	margin-left: 170px;
	padding-left: 100px;
	height: 20px;
	font-size: 20;
	color: rgba(13, 85, 13, 1);
	font-weight: bold;
	border-radius: 5px;
	border: solid;
}

#in_em {
	margin-top: 20px;
	width: 25%;
	padding-left: 100px;
	height: 20px;
	color: rgba(13, 85, 13, 1);
	font-weight: bold;
	border-radius: 5px;
	border: solid;
}

input:focus {
   outline: none;
   border-color: #26bf47;
   box-shadow: 0 0 20px #26bf47;
   color: rgba(13, 85, 13, 1);
   font-weight: bolder;
   border-color: rgba(13, 85, 13, 0.5);
}

textarea {
	margin-left: 170px;
	margin-top: 8px;
	width: 640px;
	padding-left: 100px;
	font-weight: bold;
	color: rgba(13, 85, 13, 1);
	border-radius: 5px;
	border: solid;
}

textarea:focus {
	outline: none;
   border-color: #26bf47;
   box-shadow: 0px 0px 10px #26bf47;
   color: rgba(13, 85, 13, 1);
   font-weight: bold;
}

#submit {
	margin-left: 170px;
	margin-top: 8px;
	width: 70.5%;
	background-color: rgba(13, 85, 13, 0.8);
	color: white;
	font-weight: bold;
}

#submit:hover {
	background-color: rgba(13, 85, 13, 0.6);
	color: black;
	font-weight: bold;
}

#submit:focus {
	outline: none;
	border: none;
	border-color: white;
	box-shadow: 0px 0px 0px 0px #000000;
}

#scrolltotop {
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: red;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
	color: white;
	outline: none;
	cursor: pointer;
	border: none;
}
#slider {
   margin: 0 auto;
   width: 900px;
   max-width: 100%;
   text-align: center;
}
#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
   padding: 10px;
   border: 3px solid #ccc;
   background: #fff;
   z-index: 1;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}
#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 300px;
}
#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}
#slides .slide_1 {
   background: #00171F;
   font-family: "Cabin";
}
#slides .slide_2 {
   background: #003459;
   font-family: "Cabin";
}
#slides .slide_3 {
   background: #007EA7;
   font-family: "Cabin";
}
#slides .slide_4 {
   background: #001818;
   font-family: "Cabin";
}
#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}
#controls label:hover {
   opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}
#bullets {
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}
@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}