<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/png" href="../../images/favicon.ico" />
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
        <div class="nav">
    <div id="nav_fl">
      <button id="nav_but"><a href="../general/contact.html" id="but_link">Contact</a></button>
      <button id="nav_but"><a href="../index.html" id="but_link">Home</a></button>
      <button id="nav_but_left">Traveller: Travel and Feel The World!</button>
    </div>
  </div>
  <br/><br/><br/><br/><br/>
    <div class="login-box">
      <h1>Login</h1>
      <form class="f-form">
        <label class="l"></label>
        <input required class="i" type="email" placeholder="Email" />
        <label class="l"></label>
        <input required class="i" type="password" placeholder="Password" />
        <input class="b" type="submit" value="Login" />
      </form>
    </div>
    <p class="para-2 p">
      Not have an account? <a href="register.html">Register Now</a>
    </p>
    <br/><br/><br/><br/><br/>
    <footer id="tar_js">
    <div class="footer-text">
      <h3><center>Copyright © 2021-2025 @ <i>Shriyansh Purohit</i></center></h3>
    </div>
    <a href="https://stackoverflow.com/users/15830701/shriyansh"><img src="../../images/stackoverflow.png" class="img-footer-stack"></a>
    <a href="https://www.gitlab.com/pythonrailscoding/"><img src="../../images/gitlab.png" class="img-footer" style="padding-right: 7px;"></a>
    <a href="https://www.github.com/pythonrailscoding/"><img src="../../images/github.png" class="img-footer" style="padding-right: 7px;"></a>
    <br>
  </footer>
  </body>
</html>

