<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <link rel="stylesheet" href="../../style.css" />
    <link rel="shortcut icon" type="image/png" href="../../images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"/>
  </head>
  <body>
    <div class="nav">
    <div id="nav_fl">
      <button id="nav_but"><a href="../general/contact.html" id="but_link">Contact</a></button>
      <button id="nav_but"><a href="../index.html" id="but_link">Home</a></button>
      <button id="nav_but_left">Traveller: Travel and Feel The World!</button>
    </div>
  </div>
    <div class="signup-box">
      <h1>Sign Up</h1>
      <h4>It's free and only takes a minute</h4>
      <form class="f-form">
        <label class="l"></label>
        <input required class="i" type="text" placeholder="First Name" />
        <label class="l"></label>
        <input required class="i" type="text" placeholder="Last Name" />
        <label class="l"></label>
        <input required class="i" type="email" placeholder="Email" />
        <label class="l"></label>
        <input required class="i" type="password" placeholder="Password" />
        <label class="l"></label>
        <input required class="i" type="password" placeholder="Confirm Password" />
        <input class="b" type="submit" value="Register" />
      </form>
      <p class="p">
        By clicking the Sign Up button,you agree to our <br />
        <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
      </p>
    </div>
    <p class="para-2 p">
      Already have an account? <a href="login.html">Login here</a>
    </p>
     <br/><br/>
    <footer id="tar_js">
    <div class="footer-text">
      <h3><center>Copyright © 2021-2025 @ <i>Shriyansh Purohit</i></center></h3>
    </div>
    <a href="https://stackoverflow.com/users/15830701/shriyansh"><img src="../../images/stackoverflow.png" class="img-footer-stack"></a>
    <a href="https://www.gitlab.com/pythonrailscoding/"><img src="../../images/gitlab.png" class="img-footer" style="padding-right: 7px;"></a>
    <a href="https://www.github.com/pythonrailscoding/"><img src="../../images/github.png" class="img-footer" style="padding-right: 7px;"></a>
    <br>
  </footer>
  </body>
</html>

