<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>404</title>
   <link rel="shortcut icon" type="image/png" href="../../images/favicon.ico" />

</head>
   <link rel="stylesheet" href="../../style.css" />

<body>
   `<div class="nav">
    <div id="nav_fl">
      <button id="nav_but"><a href="../general/contact.html" id="but_link">Contact</a></button>
      <button id="nav_but"><a href="../index.html" id="but_link">Home</a></button>
      <button id="nav_but_left">Traveller: Travel and Feel The World!</button>
    </div>
   </div>
   <div class="container">
      <div class="error">
         <div class="e-head">
            <font color="rgba(255, 0, 0, 0.1)">4</font><font color="rgba(0, 0, 0, 0.1)">0</font><font color="blue">4</font>
         </div>
         <center><div class="e-text"><font style="font-size: 20px;">Oops! The Requested URL was not found on this server!!</font><br><font style="margin-top: 110px; font-size: 20px;">Check if there is a typo in the URL</font></div></center>
         <br><br>
         <button id="g-btn" style="background: linear-gradient(rgba(68, 201, 56, 0.8) rgba(22, 128, 13, 0.5));"><a href="../index.html" style="text-decoration: none;">Go Back to our Home Page</a></button>
         <button id="g-btn" style="background: linear-gradient(rgba(68, 201, 56, 0.8) rgba(22, 128, 13, 0.5));"><a href="../general/contact.html" style="text-decoration: none;">Contact Us</a></button>
      </div>
   </div><br><br>
   <footer id="tar_js">
    <div class="footer-text">
      <h3><center>Copyright © 2021-2025 @ <i>Shriyansh Purohit</i></center></h3>
    </div>
    <a href="https://stackoverflow.com/users/15830701/shriyansh"><img src="../../images/stackoverflow.png" class="img-footer-stack"></a>
    <a href="https://www.gitlab.com/pythonrailscoding/"><img src="../../images/gitlab.png" class="img-footer" style="padding-right: 7px;"></a>
    <a href="https://www.github.com/pythonrailscoding/"><img src="../../images/github.png" class="img-footer" style="padding-right: 7px;"></a>
    <br>
  </footer>
</body>
</html>